body{
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;


}
p{
    font-size: medium;
    font-family: sans-serif;
}
a{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}
li{
    
    list-style: none;
}
.links ul{
    display: flex;
    gap: 2em;
}
.containerA{
    display: inline-block;
    margin-left: 80px;
    color: #fff;

}
.links{
    position: fixed;
    left:60%;
    top:5px;
    background-color:purple ;
    
    
    
}
.info{margin-left: 80px;
    margin-top: 120px;
    position: absolute;
    top: 3%;
    
    
}
#homepage{
    width: 100%;
    height: 50vh;
    background-color: black;
     
    
}
.info p{
    color:white;
    

}
.info h2{
    color: blueviolet;
}
h1{
    color: palevioletred;

}
.info2 {
    
    display:inline-block;
    position: absolute;
    top: 55%;
    margin-left: 400px;
}
.skills{
    display:inline-block;
    position:absolute;
    top:90%;
    margin-left:400px ;
    
}
.Skills1, .experience, .Education{
    display: inline-block;
    
    border-radius: 5px;
    color: white;
    font-size: 18px;
    font-family:'Times New Roman', Times, serif ;

}
.experience{

position: absolute;
top:1%;
margin-left: 1px;
width:250px;
 

}
.Skills1{
    margin-right: 50px;
    margin-top: 10px;
}
.Education{
    margin-left: 19rem;
    position: absolute;
    top:1%;
    width:250px;

}

.Education :hover{
    transform: translateY(-10px);
    transition: 3s;
    
}
.picture img {
    border-radius: 50%;
    width: 250px;
    box-shadow: 10px 10px 10px palevioletred;
    

}
.picture{
    display:flex;
    justify-content: center;

}
.icon img{
    width: 50px;

}
.icon{
    display :inline-block;
    position: absolute;
    left: 70%;
    margin-top: 2%;
    display:grid;
    grid-template-columns: 1fr, 1fr, 1fr;
    gap: 5px;

}
.image img{
    border-radius: 50%;
    box-shadow: 20px 20px 20px palevioletred;
}
.app, .web, .UI{
    display:inline-block;
    margin-left: 20px;
    color: #fff;
}
.UI{
    position: absolute;
    top: 200;
}
.services{
    position: absolute;
    top:130% ;
    margin-left:400px ;
    
}
.web{
    position: absolute;
    top: 140%;
    left: 65%;

}
.UI{
    position: absolute;
    margin-left:420px ;
    top: 185%;

}
@media (max-width:400px){
    body {
    background-color: black;
        }
    }
    .placeholder{
        position: absolute;
        left: 5%;
        display:grid;
        grid-template-columns: 1fr, 1fr, 1fr;
        gap: 5px;
        top:205% ;
        color: palevioletred;
        
    }
    .scene {
        width: 10em;
        justify-content: center;
        align-items: center;
       }
       
       .cube {
        color: #ccc;
        cursor: pointer;
        font-family: 'Roboto', sans-serif;
        transition: all 0.85s cubic-bezier(.17,.67,.14,.93);
        transform-style: preserve-3d;
        transform-origin: 100% 50%;
        width: 10em;
        height: 4em;
       }
       
       .cube:hover {
        transform: rotateX(-90deg);
       }
       
       .side {
        box-sizing: border-box;
        position: absolute;
        display: inline-block;
        height: 4em;
        width: 10em;
        text-align: center;
        text-transform: uppercase;
        padding-top: 1.5em;
        font-weight: bold;
       }
       
       .top {
        background: palevioletred;
        color: #222229;
        transform: rotateX(90deg) translate3d(0, 0, 2em);
        box-shadow: inset 0 0 0 5px #fff;
       }
       
       .front {
        background: #222229;
        color: #fff;
        box-shadow: inset 0 0 0 5px #fff;
        transform: translate3d(0, 0, 2em);
       }
       .scene{
        position: absolute;
        left: 70%;
        top: 220%;


       }
       .n, .m, .e, .s {
        color:palevioletred;
        background-color:black;
        width: 700px;
        border-radius: 5px;
        height: 40px;
        font-size: 20px;
        font-family: 'Times New Roman', Times, serif;
        

       }
       .m{
        height:100px ;
       }
       .skills h4, .Education h4, .experience h4, .services h4{
        color: palevioletred;
       }
       .web h2, .UI h2, .app h2{
color: palevioletred;
       }
       .D{
        position: relative; 
        

       
       .p{
        position: absolute;
        transform: translateY(-500px);
       }
       .full{
        position: absolute;
        margin-top: 10rem;
       }
    
       p{
        font-weight:bolder ;
       }
    
        
       
       
        
       

        
    






    
    
    
